{% extends "layout.html" %}
{% block body %}


<div class="block1">
<br>	
<h1>User/ App: {{name}}/ Flask Webserver Spotify API Player</h1>
<br>
<br>
<h2>Here is an interesting quote for you: </h2>
<p>
{{rand_quote}}
</p>
<p>
Randint selected: {{randomNumber}}
</p>
<p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:6HMvJcdw6qLsyV1b5x29sa&view=coverart" frameborder="0" allowtransparency="true"></iframe>
</p>
<p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:6HMvJcdw6qLsyV1b5x29sa&view=coverart" frameborder="0" allowtransparency="true"></iframe>
</p>
<p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:6HMvJcdw6qLsyV1b5x29sa&view=coverart" frameborder="0" allowtransparency="true"></iframe>
</p>
<p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:6HMvJcdw6qLsyV1b5x29sa&view=coverart" frameborder="0" allowtransparency="true"></iframe>
</p>
<p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:6HMvJcdw6qLsyV1b5x29sa&view=coverart" frameborder="0" allowtransparency="true"></iframe>
</p>
</div>
{% endblock %}
